@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  font-family: "Nunito Sans", sans-serif;
}
$color-shadow: hsl(200, 15%, 8%); // shadow
$color-input: hsl(0, 0%, 52%); // input

$color-background-dark: hsl(207, 26%, 17%); // dark-background
$color-elements-dark: hsl(209, 23%, 22%); // dark-elements
$color-text-dark: hsl(0, 0%, 100%); // dark-text

$color-background-light: hsl(0, 0%, 98%); // light-background
$color-elements-light: hsl(0, 0%, 100%); // light-elements
$color-text-light: hsl(200, 15%, 8%); // light-text

.dark-theme {
  background-color: $color-background-dark;
  .theme-text {
    color: $color-text-dark;
  }

  #theme-toggle-button {
    color: $color-text-dark;
  }

  .theme-link {
    color: $color-text-dark;
  }

  .theme-elements {
    background-color: $color-elements-dark;
  }

  .theme-background {
    color: $color-text-dark;
    background-color: $color-background-dark;
  }

  .header {
    background-color: $color-elements-dark;
  }

  .main-input {
    ::-webkit-input-placeholder {
      color: $color-text-dark;
    }
    ::-moz-placeholder {
      color: $color-text-dark;
    }

    :-ms-input-placeholder {
      color: $color-text-dark;
    }
    color: $color-text-dark;
    background-color: $color-elements-dark;
  }

  .main-filter {
    ::-webkit-input-placeholder {
      color: $color-text-dark;
    }
    ::-moz-placeholder {
      color: $color-text-dark;
    }

    :-ms-input-placeholder {
      color: $color-text-dark;
    }
    color: $color-text-dark;
    background-color: $color-elements-dark;
  }

  .extra-text-container {
    color: $color-text-dark;
  }

  .card-text-container-default {
    color: $color-text-dark;
  }

  .default-cards {
    color: $color-text-dark;
    background-color: $color-elements-dark;
  }
}
.light-theme {
  .theme-text {
    color: $color-text-light;
  }

  #theme-toggle-button {
    color: $color-text-light;
  }

  .theme-link {
    color: $color-text-light;
  }

  .theme-elements {
    background-color: $color-elements-light;
  }

  .theme-background {
    color: $color-text-light;
    background-color: $color-background-light;
  }

  .header {
    background-color: $color-elements-light;
  }

  .main-input {
    ::-webkit-input-placeholder {
      color: $color-text-light;
    }
    ::-moz-placeholder {
      color: $color-text-light;
    }

    :-ms-input-placeholder {
      color: $color-text-light;
    }
    color: $color-text-light;
    background-color: $color-elements-light;
  }

  .main-filter {
    ::-webkit-input-placeholder {
      color: $color-text-light;
    }
    ::-moz-placeholder {
      color: $color-text-light;
    }

    :-ms-input-placeholder {
      color: $color-text-light;
    }
    color: $color-text-light;
    background-color: $color-elements-light;
  }

  .extra-text-container {
    color: $color-text-light;
  }

  .card-text-container-default {
    color: $color-text-light;
  }

  .default-cards {
    color: $color-text-light;
    background-color: $color-elements-light;
  }
}

.main-bar--box {
  box-shadow: 0 0 3px $color-shadow; // <- shadow
}

.back-btn {
  box-shadow: 0 0 3px $color-shadow; // <- shadow
}
.border-country {
  box-shadow: 0 0 3px $color-shadow; // <- shadow
}

// Themes
Link {
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.App {
  height: 85vh;
}

// header

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  height: 6rem;
}

.header--theme {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.header--title {
  font-size: 2rem;
  font-weight: 800;
}

// main

.main {
  padding: 4rem;
  height: auto;
  min-height: 100%;
}

.main-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-bar--box {
  padding: 1rem;
  border: none;
}

img {
  width: auto;
  border-radius: 0.5rem;
}
.main-bar--input {
  position: relative;
}

.searchIcon {
  position: absolute;
  top: 0.9rem;
  left: 1rem;
}

.main-input {
  width: 20rem;
  border-radius: 0.5rem;
}

.smaller-input {
  padding-left: 4rem;
}

.main-filter {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.main-content {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  grid-gap: 1.5rem;
}

.card {
  border-radius: 0.5rem;
  width: 32rem;
  margin-bottom: 3rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 3px $color-shadow; // <- shadow
}

.card-text-container {
  padding: 1rem 2rem;
}

.card-text-container-light {
  color: $color-text-light;
}

.card-text {
  font-size: 1.1rem;
  font-weight: 600;
}

.card h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

.card:first-child {
  margin-right: auto;
}

.light {
  font-weight: 300;
}

// ExtraContent Page

.extra-content {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.extra-flag {
  width: 55rem;
  padding-right: 4rem;
}

.extra-text-container {
  width: 40rem;
}

.extra-text-container-default {
  color: $color-text-dark;
}

.extra-information-1-and-2 {
  display: flex;
  flex-direction: row;
}

.extra-information-2 {
  margin-left: 5rem;
  padding-top: 0rem;
}

.extra-information-3 {
  padding-top: 0rem;
}

.extra-light {
  font-size: 1.2rem;
}

.extra h1 {
  font-size: 3rem;
  margin: 1.5rem 0 0.5rem 0;
}

.extra-text {
  font-size: 1.2rem;
  font-weight: 600;
}

.back-btn {
  font-size: 1.2rem;
  font-weight: 600;
  width: 10rem;
  cursor: pointer;
  position: relative;
  padding-left: 3rem;
}

.border-countries {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1px, 6rem));
  grid-gap: 1.5rem;
}

.border-country {
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  width: 2rem;
}

.arrowIcon {
  position: absolute;
  left: 2.4rem;
  top: 0.9rem;
}

// Media

@media only screen and (max-width: 1120px) {
  .extra-flag {
    width: 50rem;
  }
}

@media only screen and (max-width: 1030px) {
  .extra-flag {
    width: 40rem;
  }
  .extra-text-container {
    width: 40rem;
  }

  .extra-information-2 {
    margin-left: 2rem;
  }
  .extra-light {
    font-size: 1.1rem;
  }

  .extra h1 {
    font-size: 2.8rem;
    margin: 1.5rem 0 0.5rem 0;
  }

  .extra-text {
    font-size: 1.1rem;
    font-weight: 600;
  }
}

@media only screen and (max-width: 900px) {
  .extra-flag {
    width: 30rem;
  }
}

@media only screen and (max-width: 800px) {
  .extra-content {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
  }

  .extra-flag {
    width: 37rem;
    margin-top: 2rem;
  }
  .extra-text-container {
    width: 35rem;
  }
  .extra-information-1-and-2 {
    display: flex;
    flex-direction: column;
  }
  .extra-information-2 {
    margin-left: 0;
  }
}
@media only screen and (max-width: 500px) {
  .smaller-input {
    width: 12rem;
  }
}

@media only screen and (max-width: 420px) {
  .extra-flag {
    width: 25rem;
  }
  .extra-text-container {
    max-width: 20rem;
    width: fit-content;
  }
  .extra-light {
    font-size: 1rem;
  }

  .extra h1 {
    font-size: 2rem;
    margin: 1.5rem 0 0.5rem 0;
  }

  .extra-text {
    font-size: 1rem;
    font-weight: 600;
  }
  .border-countries {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(3rem, 5rem));
    grid-gap: 1.5rem;
  }
  .border-country {
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    width: 2rem;
  }
}

@media only screen and (max-width: 410px) {
  .main-bar {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
  }

  .main-filter {
    justify-self: end;
    margin-top: 1rem;
    width: 17rem;
  }

  img {
    width: 20rem;
    max-height: 20rem;
  }
  .card {
    width: 20rem;
    margin-bottom: 3rem;
    height: auto;
  }
  .main-content {
    padding: 4rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 1.5rem;
  }
}

@media only screen and (max-width: 320px) {
  .extra-flag {
    width: 20rem;
  }
  .extra-text-container {
    max-width: 18rem;
  }
}
